{%extends 'base.html'%}
{%block content%}
{%load static%}
<link rel="stylesheet" href="{% static 'css/add_banchan.css' %}" type="text/css">
    <br>
    {%if error%}
    <p style="color: red;"> {{error}} </p>
    <br>

    {% endif %}
    <!-- <form method="POST" onkeydown="return event.key != 'Enter';" action="{% url 'add_banchan' %}"> -->
        {%csrf_token%}
        <div class="add-banchan-container">
            <div class="add-banchan-title">
                <h1>반찬등록하기</h1>
            </div>
            <div class="add-banchan-contents">
                <div class="add-banchan-info">
                    <div class="add-banchan-category">
                        <label for="반찬" class="form-label"><h3>반찬 카테고리</h3></label>
                        <input type="text" class="form-control" id="banchan_category" name="banchan_category" placeholder="반찬 카테고리를 입력해 주세요.">
                    </div>

                    <div class="add-banchan-name">
                        <label for="반찬" class="form-label"><h3>반찬 이름</h3></label>
                        <input type="text" class="form-control" id="banchan_name" name="banchan_name" placeholder="반찬 이름을 입력해 주세요.">
                    </div>

                    <div class="add-banchan-price">
                        <label for="반찬" class="form-label"><h3>반찬 가격</h3></label>
                        <input type="text" class="form-control" id="banchan_cost" name="banchan_cost" placeholder="반찬 가격을 입력해 주세요.">
                    </div>
                </div>

                <div class="add-banchan-ingredient" id="adress-container">
                    <label for="ingredients" class="form-label"><h3>반찬에 포함된 식자재</h3></label>
                    <div class="add-ingredient-input">
                        <input type="text" class="form-control" id="ingredients_input" name="ingredients_item" placeholder="식자재 및 알러지 유의 식품을 입력하세요.">
                        <div id="autoMaker"></div>   
                    </div>
                    <div class = "tag_group">
                        <div class = "tag_groupinner" id="tag_group">
                        </div>
                        <input type="hidden" class="form-control" id="ingredients-input-list" name="ingredients-input[]" placeholder=""> 
                        <input type="hidden" class="form-control" id="ingredients-input-list-code" name="ingredients-input-code[]" placeholder=""> 
                    </div>
                    <div style="display:none;" id ="all-ingredients">
                        {%for ingredient in ingredient_list%}
                            <span name = "i-name">{{ingredient.ingredients_name}}</span>
                            <span name = "i-code">{{ingredient.ingredients_code}}</span>
                        {%endfor%}    
                    </div>
                    <script>
                        var ref = [];
                        window.onload=function(){
                            for(let i=0; i<document.getElementsByName("i-name").length; i++){
                                ref.push(
                                    {
                                        i_name : document.getElementsByName("i-name")[i].innerHTML,
                                        i_code : document.getElementsByName("i-code")[i].innerHTML
                                    }
                                );
                            }
                            var isComplete = false;  //autoMaker 자식이 선택 되었는지 여부
                            $('#ingredients_input').keyup(function(){
                                var txt = $(this).val();
                                if(txt != ''){  //빈줄이 들어오면
                                    $('#autoMaker').children().remove();

                                    ref.forEach(function(arg){
                                        if(arg.i_name.indexOf(txt) > -1 ){
                                            $('#autoMaker').append(
                                                $('<div>').text(arg.i_name).attr({'i_name':arg.i_name})
                                            );		
                                        }
                                    });
                                    $('#autoMaker').children().each(function(){
                                        $(this).click(function(){
                                            $('#ingredients_input').val($(this).text());
                                            $('#tag_group').val($(this).text());
                                            $('#autoMaker').children().remove();	
                                            isComplete = true;
                                        });
                                    });			
                                } else {
                                    $('#autoMaker').children().remove();
                                }  
                            });
                            $('#ingredients_input').keydown(function(event){
                                if(isComplete) {  //autoMaker 자식이 선택 되었으면 초기화
                                    $('#tag_group').val('');
                                    $('#autoMaker').children().remove();
                                }
                            })

                            document.getElementById("ingredients_input").addEventListener('keypress',(event) =>{
                                if(event.key == "Enter"){
                                    console.log("hihiihih")
                                    addingredIentsList();
                                }
                            });
                        }// 추가 및 삭제가 가능하게 구현
                        const addingredIentsList = () => {
                            const tag_txt = document.createElement('span');
                            tag_txt.className = 'tag_txt';
                            tag_txt.innerText = document.querySelector('#ingredients_input').value;
                            const tag_delete = document.createElement('button');
                            tag_delete.id = 'tag_delete'
                            tag_delete.innerText = 'x';

                            tag_txt.addEventListener('click', (e) => {
                                console.log(e.currentTarget)
                                console.log(e.target)
                                if(e.target.id === 'tag_delete') {
                                    document.querySelector('#tag_group').removeChild(e.currentTarget);
                                }
                            })
                            tag_txt.appendChild(tag_delete);
                            document.querySelector('#tag_group').appendChild(tag_txt);

                            document.querySelector('#ingredients-input-list').innerText += ` ${document.getElementById('ingredients_input').value}`;
                            document.querySelector('#ingredients-input-list-code').innerText += ` ${document.getElementById('ingredients_input').value}`;
                            document.querySelector('#ingredients_input').value = '';
                        }
                    </script>
                </div>
            
                <div class="add-banchan-img">
                    <label for="formFile" class="form-label"><h3>반찬 사진 등록</h3></label>
                    <input class="banchan-img" type="file" id="formFile" name = "banchan_img">
                </div>
            </div>

            <div class="add-submit-banchan">
                <input type="hidden" name="username" value="{{user.username}}">
                    <button type="submit" class="add-banchan-button"><h3>반찬 등록</h3></button>
            </div>
        </div>
    <!-- </form> -->
{%endblock%}