{%extends 'base.html'%}
{%block content%}
{% if user.is_authenticated %}
  <div class="card text-center">
    {% if store_flag == 0 %}  
      <div class="card-header">
        About {{user.username}}
      </div>
      <div class="card-body">
        <h5 class="card-title">hanchan service</h5>
        <p class="card-text"> 이름 : {{userinfo.name}}</p>
        <p class="card-text"> email : {{user.email}}</p>
      </div>

      <div class="card-body">
        <h5 class="card-title">like banchan</h5>
        <!-- 반찬 보여주기 -->
        {%for banchan in like_banchans%}
          <p class="card-text"> {{banchan.name}}</p>
        {% endfor %}
      </div>  
    {% else %}
      <div class="card-header">
        About {{user.username}}
      </div>
      <div class="card-body">
        <h5 class="card-title">hanchan service</h5>
        <p class="card-text"> 가게 이름 : {{userinfo.store_name}}</p>
        <p class="card-text"> 가게 위치 : {{userinfo.adress}}, {{userinfo.address_detail}}</p>
      </div>
      <div class="card-body">
        <!-- 반찬 보여주기 -->
        <p class="card-text"> 등록된 반찬</p>
        {%for banchan in banchan_list %}
          <p class="card-text"> {{banchan.banchan_name}}</p>
        {% endfor %}
        <h5 class="card-title">add banchan</h5>
        <a href="{%url 'add_banchan' %}" class="btn btn-primary">반찬 등록하기</a>
      </div>
    {% endif %}
    <div class="card-footer text-muted">
      made by oldman&potatos
    </div>
  </div>
    <br><br>
  </div>
  <br>
  <br>
  <br>
  <br>
{%endif%}
{%endblock%}