{%extends 'base.html'%}
{%block content%}
    <br>
    {%if error%}
    <p style="color: red;"> {{error}} </p>
    <br>
    {% endif %}
    <form method="POST" action="{% url 'signup' %}">
        {%csrf_token%}
        <div class="mb-3">
            <label for="useridInput1" class="form-label">User ID</label>
            <input type="text" class="form-control" id="useridInput1" aria-describedby="emailHelp" name="username">
            <div id="emailHelp" class="form-text">사용할 ID를 입력해 주세요.</div>
        </div>
        <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Email address</label>
            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" name="useremail">
            <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
        </div>
        <div class="mb-3">
            <label for="username" class="form-label">User name</label>
            <input type="text" class="form-control" id="usernameInput1" aria-describedby="emailHelp" name="name">
            <div id="namehelp" class="form-text">이름을 입력해 주세요.</div>
        </div>
        <div class="mb-3">
            <label for="userbdate" class="form-label">User brith</label>
            <input type="date" class="form-control" id="userbdateInput1" name="b_date">
            <script>
                document.getElementById('userbdateInput1').value = new Date().toISOString().substring(0, 10);;
            </script>
        </div>
        <div class="mb-3">
            <label for="userphone" class="form-label">User phone</label>
            <input type="tel" class="form-control" id="userphoneInput1" name="phone">
            <div id="phonehelp" class="form-text">전화번호를 입력해 주세요.</div>
        </div>

        <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Password</label>
            <input type="password" class="form-control" id="exampleInputPassword1" name="password">
        </div>
        <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Password check</label>
            <input type="password" class="form-control" id="exampleInputPassword1" name="passwordCheck">
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
    <br>
        <button type="button" class="btn btn-primary" onclick ="location.href='http://127.0.0.1:8000/account/store_signup/'">store signup</button>
        <div class="form-text">혹시 사장님 이세요?</div>
{%endblock%}