*{
    text-decoration: none;
    list-style: none;
    border-collapse: collapse;
    margin:0px;
    padding:0px;
    color: black;
}
.logo-middle{
    display: inline-block;
    margin: auto;
}
.logo-image{
    text-align: center;
}
.logo-image img{
    padding-top: 20px;
    width:200px;
}
.nav-container{
    background-color: #5F7D38;
    height: 200px;
}
a{
    color: white;
    margin: 20px;
}
.nav-item-bottom-mid-container{
    text-align: center;
    padding-top: 30px;
}
.nav-item-bottom-mid-container a{
    color: white;
    margin: 40px;
}
.nav-item-top-right-container{
    display: inline-block;
    position: absolute;
    right: 10px;
    top: 10px;
}
.nav-item{
    display: inline;
}

/*main searching bar*/
.form-search{
    width: 700px;
    margin: 0 auto;
    text-align: center;
}
.form-search input[type="text"]{
    box-sizing: border-box;
    height: 40px;
    padding: 20px 400px 20px 20px;
    margin: 10px;
    font-size: 18px;
    border: 2px solid #5F7D38;
    border-radius: 30px;
    display:inline-block;
}