{% extends 'base.html' %}
{% block content %}
    <div class="card text-center">
        <div class="card-header">
        About HANCHAN
        </div>
        <div class="card-body">
        <h5 class="card-title">jsut get u r banchan </h5>
        <p class="card-text">원하는 반찬을 검색해 보세요.</p>
        <form method="POST" action="{% url 'banchan' %}">
            {%csrf_token%}
            <div class="mb-3">
                <label for="banchansearching" class="form-label">반찬 검색</label>
                <input type="text" class="form-control" id="banchan_input" name="banchan">
                <div id="emailHelp" class="form-text">사용할 ID를 입력해 주세요.</div>
            </div>
        </form>
            <!--반찬 검색 결과 띄우기-->
            {%if banchan_list is not None%}
            <div class="container">
                <div class="row row-cols-1 row-cols-md-4 g-4">
                {%for banchan in banchan_list %}
                    <div class="col">
                      <div class="card h-100">
                        <img src="/static/image/github_img.png" class="card-img-top" alt="...">
                        <div class="card-body">
                          <h5 class="card-title">{{banchan.banchan_name}}</h5>
                          <p class="card-text">반찬가게 : {{banchan.store_id}}</p>
                        </div>                
                        <div class="card-footer">
                          <small class="text-muted">{{banchan.category}}</small>
                        </div>
                       </div>
                    </div>
                {% endfor %}
                </div>
            </div>
            {%endif%}

        <!-- 반찬 검색 -->
        <p class="card-text">허전해서 넣은거에요 css 편집 시작하면 바꿔야함.</p>
        </div>
        
        <div class="card-footer text-muted">
        멋쟁이 사자들 9기
        </div>
    </div>
{% endblock %}